.usuario-nome{
	padding-right: 15px;
}
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.pull-right {
	float: right !important
}
.btn-logout{
    background-color: #f8f9fa !important; 
    color: #dc3545 !important;
    border-color: #dc3545 !important; 
}
.btn-logout:hover{
    background-color: #7500001c !important;
}
.btn-add{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.bold{
    font-weight: bold;
}
.btn-add{
    margin-right: 45px;
}
.imagem-upload{
    margin-left: 200px;
}
.editar-texto{
    margin-top: 30px;
}
.editar-formulario{
    margin-top: 20px;
}
.editar-botao-index{
    width:113px;
}
.tela-inicial{
    margin-top: 150px;
}